
<mat-card cols="2" (click)="eventoclick()">
  <mat-list >

      <label > <b>Nombre :   </b>{{datoempleado.nombre}}</label>
      <label> <b>Apellido :   </b> {{datoempleado.apellido}}</label>
    <!--   <label > <b>Edad :   </b> {{datoempleado.edad}}</label><br><br>
      <label> <b>Tipo :   </b> {{datoempleado.tipo}}</label>
      <label> <b>Estado :   </b> {{datoempleado.activo}}</label>
       <label> <b>Estado :   </b> {{datoempleado.activo}}</label>
      
    <button class="ver" mat-button routerLink="/editarempleado">Editar</button>
     <button class="eliminar" mat-button   >Eliminar</button>
    -->
    <label class="color"> <b></b> {{color}}</label>
  </mat-list><br><br>
  


</mat-card>

