<mat-card><h1>Tabla Empleados</h1></mat-card>
<div class="example-container mat-elevation-z8">
     <mat-table *ngFor='let empleado of empleados' (click)="onClick()" (select)="onSelect()" >
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> <b>{{empleado.nombre}}</b> </mat-header-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="apellido">
        <mat-header-cell *matHeaderCellDef><b> {{empleado.apellido}}</b></mat-header-cell>
     
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="edad">
        <mat-header-cell *matHeaderCellDef><b>{{empleado.edad}} </b></mat-header-cell>
    
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef><b> {{empleado.tipo}}</b> </mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="activo">
            <mat-header-cell *matHeaderCellDef> {{empleado.activo}} </mat-header-cell>
          </ng-container>
      
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>