mat-card{
    padding: 15px;
    margin: 20px;
}
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
    
  }
  h1{
    position: relative;
    left:35%;
    
}

.example-container{
  margin: 20px;
}