mat-card{
    padding: 15px;
    margin: 20px;
}
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  h1{
    position: relative;
    left:35%;
    
}
.ver{
  background: rgb(83, 83, 228);
  color: white;
  
  margin-left: 110px;
}
.eliminar{
  background: rgb(247, 67, 67);
  color: white;
}
label{
  margin: 5px;
  padding: 5px;
   padding-left: 100px;
}

div{
  padding: 15px;
  margin-left: 180px;
  margin-right: 180px;
}