<div>
<mat-card cols="2">
   <h2>Datos Completos de  :  {{empleadodetalle.nombre}}</h2>
   
  <mat-list >
      <label > <b>Nombre :   </b>{{empleadodetalle.nombre}}</label>
      <label> <b>Apellido :   </b>{{empleadodetalle.apellido}}</label>
     <label > <b>Edad :   </b>{{empleadodetalle.edad}}</label><br><br>
      <label> <b>Tipo :   </b> {{empleadodetalle.tipo}}</label>
      <label> <b>Estado :   </b> {{empleadodetalle.activo}}</label>

      <button class="ver" mat-button (click)="eventoClickModificar()">Editar</button>
      <button class="eliminar" mat-button (click)="eventoEliminar()"  >Eliminar</button>

   
  </mat-list><br><br>

</mat-card>

</div>